<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h3>Parimad faktid</h3>
        <select class="form-control" id="bestof-interval">
          <option disabled="disabled" {{{selected "" selec}}}>Ajavahemik</option>
          <option value="last24h" {{{selected "last24h" selec}}}>Viimased 24h</option>
          <option value="lastweek" {{{selected "lastweek" selec}}}>Viimane nädal</option>
          <option value="lastmonth" {{{selected "lastmonth" selec}}}>Viimane kuu</option>
          <option value="all" {{{selected "all" selec}}}>Kõik</option>
      </select>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Kasutaja</th>
                <th>Fakt</th>
                <th>Skoor</th>
            </tr>
            </thead>
            <tbody>

            {{#each bestFacts}}

            <tr data-toggle="tooltip" data-placement="bottom" title="Postitatud: {{date date}}">
                <td>{{counter @index}}</td>
                <td>{{username}}</td>
                <td>{{fact}}</td>
                <td>{{votesum}}</td>
            </tr>

             {{/each}}

           </tbody>
        </table>


    </div>
    <h2>Parimad kasutajad</h2>
    <div class="table-responsive">
        <table class="table table-hover table-responsive">
            <thead>

            <tr>
                <th>#</th>
                <th>Kasutaja</th>
                <th>Faktide arv</th>
                <th>Skooride summa</th>
            </tr>

            </thead>
            <tbody>
             {{#each bestUsers}}

              <tr>
                <th>{{counter @index}}</th>
                <th>{{username}}</th>
                <th>{{factcount}}</th>
                <th>{{votesum}}</th>
              </tr>

             {{/each}}

            </tbody>
        </table>
    </div>

    </div>
</div>